name: Build and publish

on:
  workflow_dispatch

jobs:
  build_pages:
    name: Publish Edition as GitHub Pages Website
    runs-on: ubuntu-latest
    env:
      ANT_OPTS: -Xmx6g
      TYPESENSE_HOST: typesense.acdh-dev.oeaw.ac.at
      TYPESENSE_PORT: 443
      TYPESENSE_PROTOCOL: https
      TYPESENSE_API_KEY: ${{secrets.TYPESENSE_API_KEY}}
    steps:
    - name: Perform Checkout
      uses: actions/checkout@v4
    - name: Install Saxon, Ant, Fundament and acdh-tei-pyutils
      run: |
        ./script.sh
        pip install -r requirements.txt
    - name: Fetch the data
      run: ./fetch_data.sh
    - name: Process the data
      run: ./process.sh
    - name: Build
      run: |
        ant
    - name: Generate Sitemap
      run: python3 generate_sitemap.py
    - name: Build Index
      run: python make_typesense_index.py
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        publish_dir: ./html